@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {

    section#login {
        width: 90vw;
        height: 50vh;
    }
        /* Imagem */
    div#imagem {
        width: 30vw;
        height: 100vh;
        float: left;

        background: rgb(90, 101, 201) url(../imagens/pexels-luis-quintero-2471235.jpg);
    }

        /* Formulário */

    /* Ícones */
    div.material-symbols-outlined {
        font-size: 2.5em;
    }

    div#formulario {
        width: 60vw;
        height: 100vw;
        float: right;
    }

    div#formulario > h1 {
        font-size: 2em;
    }

    div#formulario > p {
        padding: 20px;
        padding-top: 0px;
        font-size: 1.1em;
    }

    div.campos {
        height: 50px;
    }

    div.campos input {
        width: 88%;

        transform: translate(-44%, -50%);
    }

}

@media screen and (min-width: 993px) {
    section#login {
        width: 95vw;
        height: 52vh;
    }

        /* Imagem */
    div#imagem {
        width: 45%;
        height: 100vw;
        float: right;

        background: rgb(90, 101, 201) url(../imagens/pexels-miguel-á-padriñán-68556.jpg) top left no-repeat;
    }

    div#campoEmail {
        margin-bottom: 8px;
    }

        /* Formulário */

    div#formulario {
        width: 52vw;
        height: 100%;
        float: left;
    }

    div#formulario > h1 {
        font-size: 2.5em;
    }

    div#formulario > p {
        font-size: 1.3em;
        padding-bottom: 20px;
    }
    div.campos {
        width: 96.5%;
        height: 50px;
    }

        /* Ícones */
    div.material-symbols-outlined {
        font-size: 2.5em;
    }

    .campos input {
        width: 85%;
        transform: translate(-42%, -50%);
    }
}
