@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body, html {
    background-color: #5f2c82;
    width: 100vw;
    height: 100vh;
}

main {
    position: relative;
    width: 500px;
    height: 100%;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;

    width: 250px;
    height: 515px;

    border-radius: 20px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.596);

    background-color: white;

    transform: translate(-50%, -50%);

    transition: width .3s, height .3s;
}

    /* Imagem */

div#imagem {
    display: block;
    height: 200px;
    background: red url(../imagens/pexels-damir-mijailovic-3651579.jpg) no-repeat;
    background-size: cover;
}

    /* Formulário */

div#formulario > h1 {
    display: block;

    margin: 13px;
    text-align: center;
}

div#formulario > p {
    margin: 0px 10px 5px 10px;

    font-size: 0.8em;
}

        /* Ícones */

    div.material-symbols-outlined {
        font-size: 2em;
        width: 40px;
        padding: 5px;
        user-select: none;
        color: white;
    }

        /* Campo de entrada de Email e Senha*/

div.campos {
    display: block;
    position: relative;
    height: 2.5em;
    background-color: #5f2c82;

    border-radius: 8px;
    margin: 0px 10px 5px 10px;
}

.campos input {
    width: calc(100% - 45px);
    height: calc(100% - 4px);

    border: 1px solid #abd4f5;
    border-radius: 8px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.596);

    font-size: 1em;

    background-color: #abd4f5;

    transform: translateY(-28%);
}

.campos input:focus {
    background-color: white;
}

#campoSenha {
    margin-bottom: 1px;
}

        /* Botão de "Entrar" */

div#entrar input {
    display: block;
    width: calc(100% - 20px);
    height: 2.5em;

    border: 1px solid #3dafa9;
    margin: 10px 10% 0px 10px;
    border-radius: 5px;

    text-align: center;
    font-size: 1em;
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
    
    background-color: #54a1e0;
    cursor: pointer;
}

div#entrar input:hover {
    background-color: #2c5e86;
}

        /* Botão "Esqueci a senha" */

div#esqueciSenha a {
    display: block;
    height: 2.5em;

    margin: 5px 10px 0px 10px;
    padding-top: 6px;
    border: 1px solid #3dafa9;
    border-radius: 5px;

    text-align: center;
    color: #2a807b;
    text-decoration: none;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);

    cursor: pointer;
}

div#esqueciSenha .material-symbols-outlined {
    font-size: 0.9em;
    color: #2a807b;
}

div#esqueciSenha a:hover {
    background-color: #7ddbdb;
}
